* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 768px;
  overflow-y: hidden;
}

.logo {
  position: absolute;
  width: 111px;
  height: 74px;
  left: 0;
  top: 0;
}

.hamburger {
  position: fixed;
  width: 20px;
  height: 14px;
  left: 284px;
  top: 19px;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', sans-serif;
}

.header h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  position: absolute;
  width: 90%;
  height: 100px;
  left: 16px;
  top: 104px;
}

.header p {
  position: absolute;
  width: 80%;
  height: 126px;
  left: 16px;
  top: 224px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.headerButton {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1a2236;
  width: 90%;
  height: 50px;
  left: 16px;
  top: 390px;
  background: white;
  border: 1px solid #1a2236;
  cursor: pointer;
}

.headerButton:hover {
  background: #1a2236;
  color: #fff;
  border: 1px solid #fff;
  transition: 1.5s;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.headerImage {
  background-image: url('./images/image_geometry_2.png');
  position: absolute;
  width: 100%;
  height: 160px;
  left: 0;
  top: 472px;
}

.workSection {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
  height: 680px;
}

.workSection h1 {
  width: 181px;
  height: 50px;
  left: 16px;
  top: 672px;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  position: absolute;
}

.imgCard {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 754px;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  margin-top: 5px;
}

.card {
  background: #1a2236;
  position: absolute;
  width: 100%;
  height: 156px;
  left: 0;
  top: 940px;
  backdrop-filter: blur(0.5px);
}

.card h2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  width: 239px;
  height: 16px;
  left: 20px;
  top: 1302px;
}

.buttons {
  margin-top: 1rem;
  margin-left: 1rem;
}

.projectBtn {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.btn1 {
  width: 69px;
  height: 20px;
  left: 30px;
  top: 998px;
  border: none;
  background: #98dede;
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn2 {
  width: 87px;
  height: 20px;
  left: 99px;
  top: 992px;
  background: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  border: none;
  color: #1a2236;
  width: 87px;
  height: 20px;
  left: 99px;
  top: 992px;
  background: #98dede;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1a2236;
  width: 178px;
  height: 44px;
  left: 20px;
  top: 1374px;
  background: white;
  border: 1px solid #1a2236;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.submitBtn:hover {
  background: #1a2236;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 1.5s;
  cursor: pointer;
  border: 1px solid white;
}

#arrow {
  width: 20.57px;
  height: 15.35px;
  left: 166px;
  top: 1729.95px;
}

.imgCard2 {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 1096px;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.Card2 {
  background: #1a2236;
  position: absolute;
  width: 100%;
  height: 156px;
  left: 0;
  top: 1282px;
  backdrop-filter: blur(0.5px);
}

.Card2 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  width: 240px;
  height: 16px;
  left: 20px;
  top: 1302px;
}

.imgCard3 {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 1438px;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.Card3 {
  background: #1a2236;
  position: absolute;
  width: 100%;
  height: 156px;
  left: 0;
  top: 1624px;
  backdrop-filter: blur(0.5px);
}

.Card3 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  width: 240px;
  height: 16px;
  left: 20px;
  top: 1644px;
}

.imgCard4 {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 1780px;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.card4 {
  position: absolute;
  width: 100%;
  height: 156px;
  left: 0;
  top: 1966px;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
}

.card4 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  width: 240px;
  height: 16px;
  left: 20px;
  top: 1986px;
}

.imgCard5 {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 2122px;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.card5 {
  position: absolute;
  width: 100%;
  height: 156px;
  left: 0;
  top: 2308px;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
}

.card5 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  width: 240px;
  height: 16px;
  left: 20px;
  top: 2328px;
}

.imgCard6 {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 2122px;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.card6 {
  position: absolute;
  width: 100%;
  height: 156px;
  left: 0;
  top: 2308px;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
}

.card6 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  width: 240px;
  height: 16px;
  left: 20px;
  top: 2670px;
}

.imgCard7 {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 2464px;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.card7 {
  position: absolute;
  width: 100%;
  height: 156px;
  left: 0;
  top: 2650px;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
}

.card7 h2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  width: 240px;
  height: 16px;
  left: 20px;
  top: 2670px;
}

.about {
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', sans-serif;
  background: white;
}

.about h1 {
  width: 134px;
  height: 50px;
  left: 16px;
  top: 2862px;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.about p {
  width: 90%;
  height: 126px;
  left: 16px;
  top: 2932px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  position: absolute;
}

.aboutButton {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1a2236;
  width: 90%;
  height: 50px;
  left: 16px;
  top: 3103px;
  background: white;
  border: 1px solid #1a2236;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.aboutButton:hover {
  background: #1a2236;
  color: white;
  transition: 1.5s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#aboutImg {
  margin-left: 1.5em;
}

#aboutImg:hover {
  background-color: #1a2236;
  color: #1a2236;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards a {
  text-decoration: none;
  color: white;
}

.card1 {
  position: absolute;
  width: 90%;
  height: 289px;
  left: 16px;
  top: 3180px;
  background: #1c528a;
}

.heading1 {
  width: 116px;
  height: 30px;
  left: 66px;
  top: 3230px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
  margin-top: 2.5em;
  text-decoration: none;
}

.link1 {
  width: 178px;
  height: 135px;
  left: 66px;
  top: 3281px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3em;
  margin-top: 1em;
  text-decoration: none;
}

#hashTag {
  width: 102px;
  height: 102px;
  left: 203px;
  top: 3367px;
  margin-left: 8.3rem;
  padding-bottom: 20px;
}

#polygon {
  width: 102.22px;
  height: 102.22px;
  left: 213.62px;
  top: 3681.94px;
  opacity: 0.5;
  transform: rotate(0.53deg);
  display: flex;
  margin-left: 8em;
  margin-top: -2em;
}

#bulb {
  width: 102px;
  height: 102px;
  left: 213.62px;
  top: 3681.94px;
  opacity: 0.5;
  transform: rotate(0.53deg);
  display: flex;
  margin-left: 7em;
  margin-top: -4em;
  padding: 0;
}

.heading2 {
  width: 132px;
  height: 30px;
  left: 66px;
  top: 3535px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
  margin-top: 2.5em;
  text-decoration: none;
}

.link2 {
  width: 118px;
  height: 135px;
  left: 66px;
  top: 3586px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3em;
  margin-top: 1em;
  text-decoration: none;
}

.card2 {
  position: absolute;
  width: 90%;
  height: 289px;
  left: 16px;
  top: 3485px;
  background: #e2505c;
}

.card3 {
  position: absolute;
  width: 90%;
  height: auto;
  left: 15px;
  top: 3790px;
  background: #febf52;
}

.heading3 {
  width: 55px;
  height: 30px;
  left: 65px;
  top: 3840px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
  margin-top: 2.5em;
  margin-bottom: -1em;
  text-decoration: none;
}

.link3 {
  width: 88px;
  height: 135px;
  left: 65px;
  top: 3891px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3em;
  margin-top: 3em;
  margin-bottom: 2em;
  text-decoration: none;
}

.contactLogo {
  background: url('./images/logo.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 74.02px;
  left: 0;
  top: 4129px;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

.content h1 {
  width: 100%;
  height: 50px;
  left: 16px;
  top: 4235px;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  position: absolute;
}

.content p {
  width: 90%;
  height: 63px;
  left: 16px;
  top: 4305px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  position: absolute;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#fullName {
  position: absolute;
  width: 90%;
  height: 52px;
  left: 16px;
  top: 4400px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  padding-left: 15px;
  padding-bottom: 20px;
}

#myEmail {
  position: absolute;
  width: 90%;
  height: 52px;
  left: 16px;
  top: 4460px;
  background: #fff;
  border: 1px solid #1a2236;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  padding-left: 15px;
  padding-bottom: 20px;
}

#msg {
  position: absolute;
  width: 90%;
  height: 112px;
  left: 16px;
  top: 4520px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #7d7c84;
  padding-left: 15px;
  padding-bottom: 20px;
}

#button {
  position: absolute;
  width: 90%;
  height: 44px;
  left: 16px;
  top: 4652px;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1a2236;
  border: 1px solid #1a2236;
  cursor: pointer;
}

#button:hover {
  background: #1a2236;
  color: #fff;
  transition: 1.5s;
}

.myFooter {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #1a2236;
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0;
  top: 4760px;
  color: #92dcdc;
}

.myFooter h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  padding-top: 2em;
  align-items: center;
  gap: 15px;
}

.myHandles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;
  text-decoration: none;
  list-style-type: none;
}
